---
layout: default
---




{% include side.html %}


<div class="item">
  {% include tab.html %}
  {% include intro.html %}
  
  {% assign i = 1 %}
  <div class="wrap-projects">
    {% for post in site.posts %}
  
    <div class="projects">
      <p>
        <span class="category" 
          {% if post.category == 'graphic' %} 
            style="color: rgb(58, 198, 176);"
          {% elsif post.category == 'dev'%} 
            style="color: rgb(109, 84, 219);" 
          {% elsif post.category == 'webdesign'%}
            style="color: rgb(248, 149, 103);" 
          {% endif %} data-category="{{ post.category }}"></span>
  
        <a data-number="{{ post.number | replace: post.number, i }}"
          href="{{ post.url | prepend: site.baseurl | prepend: site.url }}" 
          data-url="{{ post.date | date: '%Y' }}">
          {{ post.title }} 
          <b></b>
        </a>
      </p>
    </div><!-- end of projects -->
    {% assign i = i | plus:1 %}
    {% endfor %}
  </div>

</div><!-- end of items -->
