<section class="intro">
  <div class="container">
<div class="darkmode" onclick="myNightMode()">
  <a id="shift"
    style="cursor: pointer"
    onclick="localStorage.setItem('mode', (localStorage.getItem('mode') || 'dark') === 'dark' ? 'bright' : 'dark'); localStorage.getItem('mode') === 'dark' ? document.querySelector('body').classList.add('dark') : document.querySelector('body').classList.remove('dark')"
    title="Switch to light or dark theme">
    <div id="clic_area_weather">
      <div id="weather" class="sun"></div>
    </div>
  </a>
</div>
  </div>
</section>
