

html {
 overflow-x: hidden;
 height: 100vh;
}

body {
 height: 100vh;
 background: #fff;
 color: $primary-color;
 font-size: 2.9em;
 line-height: 1.35;
 margin: 1em 0em 0em;
 -webkit-text-size-adjust: 100%;
 font-family: $base-font-family;
 font-weight: 700;
}

body.dark {
background-color: #021220;
color: #7c75ab;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #021220;
        color: #7c75ab;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: black;
    }
}

.container {
    min-height: 400px;
    display: flex;
    display: -webkit-flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: auto;
    align-content: flex-start;
}

.item {
    flex: 0 0 auto;
    margin: 5px;
}

.darkmode {
    left: 190px;
    top: 5px;
    display: block;
    position: fixed;
    width: 50px;
    border-radius: 50%;
    height: 50px;
}

#shift {
border-radius: 50%;
width: 25px;
position: inherit;
height: 22px;
/* background: transparent; */
color: transparent;
}

.moon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    transform: rotate(255deg);
    box-shadow: inset 0px 8px #6C58FF,
    inset 0px 9px 1px 1px #6C58FF;
    -moz-box-shadow: inset 0px 8px #6C58FF,
    inset 0px 8px 1px 1px #6C58FF;
    margin-top: 19px;
    margin-left: 22px;
}

.sun {
     width: 25px;
     height: 25px;
     border-radius: 50%;
     background-color: #ffda51;
     z-index: 10 !important;
     margin-top: 20px;
     margin-left: 20px;
}

div#clic_area_weather {
    width: 60px;
    height: 60px;
    margin-bottom: 0px;
    cursor: crosshair;
    position: absolute;
    top: -7.5px;
    left: -7.5px;
    border-radius: 50%;
}

#tabdev {
    display: none;
}
#tab-graphic {
    display: none;
}

p.dev {
    color: rgb(248, 149, 103);
    font-size: x-large;
}
p.graphic {
    color: rgb(58, 198, 176);
    font-size: x-large;
}

.active-link {
    background-color: #dcdcdc00;
    box-shadow: 3px 3px 20px -10px #00000073;
    border-radius: 25px;
}

body.dark code[class*=language-],
body.dark table tbody>tr:nth-child(odd)>td,
body.dark table tbody>tr:nth-child(odd)>th {
 background: #282c34
}

@media screen and (max-width: 600px) {
 body {
  font-size: 2.4em;
 }
}

@media only screen and (max-device-width: 480px) {
 body {
  font-size: 1.5em;
 }

 body p a[data-url]:after {
  -webkit-transform-origin: 0% 80%;
  -webkit-transform: scale(0.75, 0.75);
 }
}



p {
 margin: 0em 0em 0.75em;
 -webkit-hyphenate-limit-after: 4;
 -moz-hyphenate-limit-after: 4;
 -ms-hyphenate-limit-after: 4;
 hyphenate-limit-after: 4;
 -webkit-hyphenate-limit-before: 4;
 -mox-hyphenate-limit-before: 4;
 -ms-hyphenate-limit-before: 4;
 hyphenate-limit-before: 4;
 -webkit-hyphens: auto;
 -moz-hyphens: auto;
 -ms-hyphens: auto;
 hyphens: auto;
}

h2 {
 font-size: 0.5em;
 font-weight: normal;
 margin: 0em 0em 0.25em;
 color: $primary-color;
}

h3 {
 opacity: 0.5;
 font-size: 0.5em;
}

a {
 color: inherit;
 text-decoration: none;
 border-bottom: 0.1em solid;
 -webkit-transition: color 200ms ease-in-out;
 -moz-transition: color 200ms ease-in-out;
 -o-transition: color 200ms ease-in-out;
 transition: color 200ms ease-in-out;
}

a:hover {
 color: $violet-color;
}

a[data-url] {
 position: relative;
 display: inline;
 padding-top: 0.1em;
}

a[data-url]:after {
 content: ""attr(data-url);
 position: absolute;
 top: -1.2em;
 left: 0;
 font-size: 0.275em;
 white-space: nowrap;
 opacity: 0.4;
}

a[data-url]:before {
    content: "";
    background-image: url(../images/profil_web.png);
    background-size: 45% 45%;
    display: block;
    height: 363px;
    width: 500px;
    position: absolute;
    top: -125px;
    left: 30vw;
    z-index: -2;
    opacity: 0.9;
    background-repeat: no-repeat;
    border-radius: 75px;
}

ul {
 list-style: none;
 padding: 0;
 margin: 0;
 display: inline;
}

ul li {
 margin-bottom: 0.2em;
 // white-space: nowrap;
 display: inline;
}

hr {
 border-top: 0.1em solid;
 width: 2em;
 margin: 1.5em 0em 1.5em 0em;
 padding: 0em;
 opacity: 0.2;
}

.btn-custom {
    display: block;
    font-size: small;
    font-family: $sub-font-family,
    sans-serif;
    width: calc(100% - 640px);
    padding: 4px 10px 4px 10px;
    border-radius: 25px;
    box-shadow: 4px 5px 0px 0px;
    border: 0.5px solid;
}

.wrapper {
 position: relative;
 z-index: 4;
 max-width: 17em;
 margin: 0 auto;
 padding: 0.25em 0.5em 0em;
 box-sizing: border-box;
 -webkit-transition: -webkit-transform 350ms ease-in-out, opacity 350ms ease-in-out;
 -moz-transition: -moz-transform 350ms ease-in-out, opacity 350ms ease-in-out;
 -o-transition: -o-transform 350ms ease-in-out, opacity 350ms ease-in-out;
 transition: transform 350ms ease-in-out, opacity 350ms ease-in-out;
}

/* body:after { content: " "; position: absolute; top: 0; height: 180%; margin-left: 3.5em; display: block; border-left: 1px solid #E2E2E2;  } */
.secondary,
.secondary .wrapper {
 z-index: 1;
}

.projects>p>a[data-number] {
 margin-top: 0em;
}



.projects>p>a[data-number]:before {
 content: attr(data-number);
 position: absolute;
 margin: 2.3em 0em 0em -3em;
 display: inline-block;
 font-size: 0.25em;
 width: 1.3em;
 height: 1.3em;
 line-height: 1.2em;
 text-align: center;
 font-family: "courier new", courier, monospace;
 font-weight: bold;
}

p > span.category[data-category]:before {
content: attr(data-category);
position: absolute;
display: block;
font-size: small;
font-family: $sub-font-family;
margin-left: 35px;
margin-top: -24px;
background-color: #efeeee00;
width: auto;
padding: 4px 10px 4px 10px;
border-radius: 25px;
box-shadow: 4px 5px 0px 0px;
border: 0.5px solid;
}

time {
display: block;
font-size: small;
font-family: $sub-font-family;
width: calc(100% - 640px);
padding: 4px 10px 4px 10px;
border-radius: 25px;
box-shadow: 4px 5px 0px 0px;
border: 0.5px solid;
}

.whoiam {
 line-height: 1.3;
 margin-top: -0.25em;
}

.projects {
 counter-reset: project;
 padding: 0em 0em 0.5em;
}

.projects h2 {
 margin-bottom: 0.5em;
}

.projects p {
 margin: 0em 0em 0.5em;
}

.projects a {
 position: relative;
 line-height: 1.5;
 padding-bottom: 0.1em;
}

.wrap-projects {
display: block;
}



/* iOS fixes */
@media screen and (max-device-width: 480px) {

}

@media screen and (max-device-width: 768px) {


}


.wrapper {
 max-width: 20.5em;
 margin: 0 auto;

}

.item {
max-width: 16.5em;
margin: 0 auto;
}

.intro {
display: block;
margin-bottom: 120px;
}

.side-content {
    display: block;
    font-size: small;
    font-family: "Source Sans Pro",
    sans-serif;
    padding: 15px 10px 4px 10px;
    margin-right: 50px;
    position: relative;
    box-shadow: -25px -20px 0px -10px #ff00001f;
    border: solid;
    max-height: 140px;
    position: sticky;
    top: 0;
}

li.list-items {
    display: block;
    font-size: small;
    font-family: "Source Sans Pro", sans-serif, sans-serif;
    /* width: calc(100% - 640px); */
    padding: 4px 20px 5px 10px;
    /* border-radius: 25px; */
    /* box-shadow: 4px 5px 0px 0px; */
    /* border: 0.5px solid; */
    align-items: center;
    display: block;
}


@media screen and (max-width: 1000px) {
 .wrapper {
  padding-left: 1em;
 }

}




.contact:before {
 content: "\2709";
 position: absolute;
 left: -0.4em;
 top: 3em;
 font-size: 0.45em;
 color: #6A727C;
}

.footer {
 padding: 0.25em 0em;
 margin-top: 0.4em;
}

.end-notes {
 width: 78%;
 margin: 0.5em 0em;
 padding-bottom: 1em;
 font-size: 0.3em;
 color: #6A727C;
 line-height: 1.8;
 font-family: "courier new", courier, monospace;
}


